
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")  
    <link href="~/Content/bootstrap.css" rel="stylesheet" /> 
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
</head>
<body>
    
    <div style="position:absolute;top:0;height: 50px;right:0;left:0;background-color: black;">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home page", "Index", "Home")</li>
                <li>@Html.ActionLink("Registration", "Registration", "Account")</li>
                
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <div style="height: 50px; padding-top: 15px; padding-bottom: 15px;">
                            <strong style="color:white; ">@String.Format("Welcome, {0}", @User.Identity.Name)</strong>
                        </div>
                    </li>
                    <li>@Html.ActionLink("LogOut", "LogOut", "Account")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                }
            </ul>
        </div>
    </div>

    <div style="position: absolute; top: 50px; bottom: 0; right: 0; left: 0;">
        @RenderBody() 
    </div>

    
    <script src="~/Scripts/jquery-1.9.1.js"></script>

    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/drop.down.js"></script>
    <script src="~/Scripts/index.js"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
